
<input type="text" placeholder="Search" class="box"><br>
<div class= "checkbox box">
  <label for="meeting">Meeting</label>
  <input type="checkbox" name="meeting">
</div>
<div class = "checkbox box">
  <label for="event">Event</label>
  <input type="checkbox" name="event">
</div><br>
<div class = "checkbox box">
  <label for="glub">Glub</label>
  <input type="checkbox" name="glub">
</div>
<div class = "checkbox box">
  <label for="guild">Guild</label>
  <input type="checkbox" name="guild">
</div><br>
