
.checkbox{
  padding: 20px;
  border-style: solid;
  background-color: #DDDDDD;
  display: inline-block;
  max-width: 50%;
  min-width:20%;

}

.box{
  margin:20px;
}

label{
  margin-right: 10px;
}
