<main>
  <input type="text" placeholder="Search" class="box" id="searchbox">
  <button mat-raised-button>
    <mat-icon>search</mat-icon>
  </button><br>
  <div class="flexwrap">
    <button mat-raised-button class="smaller_buttons">Default filters</button>
    <button mat-raised-button class="smaller_buttons">Clear filters</button>
    <button mat-raised-button *ngFor="let button of buttons" [ngClass]="getState(button)"
     class="smaller_buttons" (click)="flip(button)">{{button}}</button>

  </div>
</main>