
.checkbox{
  padding: 10px;
  border-style: solid;
  background-color: #DDDDDD;
  width:40%;
}

#searchbox{
  margin-left: 5%;
}

.box{

  margin-right: auto;
  margin-top: 10px;
}

label{
  margin-right: 5%;
}

.flexwrap{
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
  margin-left:5%;
}
