
<div class="flexwrap">
  <button class="small" (click)="showSlack()" [ngClass]="{chosen:showingSlack,unchosen:!showingSlack}">
    <img class="image" color="primary" src="assets/icons/SlackIcon.png">
  </button>

  <button class="small" (click)="showConfluence()" [ngClass]="{chosen:!showingSlack,unchosen:showingSlack}">
    <img class="image" color="primary" src="assets/icons/confluence.png">
  </button>
</div>
<div>
  <div *ngIf="showingSlack">
    <p>Slack is shown</p>
  </div>
  <div *ngIf="!showingSlack">
    <p>Confluence is shown</p>
  </div>
  <div class="flexwrap">
    <button mat-raised-button class="smaller_buttons">Default filters</button>
    <button mat-raised-button class="smaller_buttons">Clear filters</button>
    <button mat-raised-button *ngFor="let button of buttons" [ngClass]="getState(button)"
     class="smaller_buttons" (click)="flip(button)">{{button}}</button>

  </div>
</div>
