<mat-card>
  <mat-card-content>
    <span style="font-size:1.2em; font-weight: bold">{{card.header}}</span>
    <button mat-icon-button color="accent" class="star" (click)="star()">
      <mat-icon *ngIf="!card.starred">star_border</mat-icon>
      <mat-icon *ngIf="card.starred">star</mat-icon>
    </button>
    <a mat-icon-button href="{{card.link}}"><mat-icon>open_in_new</mat-icon></a>
    <div style="font-size:1em;width:95%;">{{card.content}}</div>
    <div class="tag">{{card.footer}}</div>
    <div class="time">{{card.time|time}}</div>
  </mat-card-content>
</mat-card>
