<form class="page">

    <div style="font-size:10vw;">Login</div>
        
        <div class="line"><label for="uname"><b>Username </b></label>
        <input type="text" placeholder="Enter Username" name="uname" required></div>
            
        <div class="line"><label for="psw"><b>Password </b></label>
        <input type="password" placeholder="Enter Password" name="psw" required></div>
        <div>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

        <div><button mat-flat-button (click)="goToFeed()">Login</button></div>
    </div>

</form>