.container {

  background: rgba(114, 186, 94, 0.05);

}

.main {

  display: flex;

  flex-wrap: wrap;

  width:100%;

  align-items: center;

  margin-left: auto;

  margin-right: auto;

}

.top {

  position: sticky;
  width: 100%;
  top: 0;

}

.footer {

  position: fixed;
  bottom: 0;
  width: 100%;

}

.main{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
