ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width:100%;
}

mat-card{
  width:100%;
}

ul.horizontal li{
  display: inline;
}

.withgap{
  margin-right: 20px;
}

.flexbox{
  display: flex;
}

.selected {
  background-color: aqua !important;
  color: whitesmoke;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
