ul {
  list-style-type: none;
  padding: 0;
  width:100%;
  margin-left: 5px;
  //margin-right: 10px;
}

mat-card{
  width:auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

ul.horizontal li{
  display: inline;
}


.withgap{
  margin-right: 20px;
}

.flexbox{
  display: flex;
}

.starbutton {

  background-color: yellow;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60%;

}

.star{
  right: 0;
  position: absolute;
  display:block;
}


.selected {
  background-color: aqua !important;
  color: whitesmoke;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
