<ul>
  <li *ngFor = "let message of messages">
    <div class="outer">
      <h3>Channel: {{message.channel}}
      </h3>

      <button mat-mini-fab (click)="onSelect(message)">
        <mat-icon *ngIf="!message.favourite">star_border</mat-icon>
        <mat-icon *ngIf="message.favourite">star</mat-icon>
      </button>

      <p>{{message.location}}</p>
      <p>From: {{message.user}}: {{message.message}}</p>
      <div class="flexbox">
        <div>Tags:</div>
        <div>
          <ul class="horizontal" li>
            <li class="withgap" *ngFor = "let tag of message.tags">
              {{tag}}
            </li>
          </ul>
        </div>
        <div>Send at: {{message.time_send}}</div>
      </div>
    </div>
  </li>
</ul>