<mat-toolbar  color="primary">
    <mat-toolbar-row *ngIf = "backendconnectorService.showOnlyWhenLogged()">

      <button mat-fab color=rgb(40,40,40) style="bottom: 2px;" (click) ="goToSlackFeed()"
        [ngClass] ="{highlighted:page_shown[0],unhighlighted:!page_shown[0]}">
        <img class="image" color="primary" src="assets/icons/SlackIcon.png">
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40) style="bottom: 2px;" (click) ="goToConfeed()"
        [ngClass] ="{highlighted:page_shown[1],unhighlighted:!page_shown[1]}">
        <img class="image" color="primary" src="assets/icons/confluence.png">
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40) style="bottom: 2px;" (click)="goToCalendar()"
        [ngClass] ="{highlighted:page_shown[2],unhighlighted:!page_shown[2]}">
        <mat-icon color="primary">calendar_today</mat-icon>
      </button>

      <span class="example-fill-remaining-space"></span>


      <button mat-fab color=rgb(40,40,40) style="bottom: 2px;" (click)="goToStar()"
      [ngClass] ="{highlighted:page_shown[3],unhighlighted:!page_shown[3]}">
        <mat-icon color="primary">stars</mat-icon>
      </button>

    </mat-toolbar-row>
</mat-toolbar>
