<mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-fab color=rgb(40,40,40) (click) ="goToFeed()">
        <mat-icon>home</mat-icon>
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40) (click)="goToCalendar()">
        <mat-icon>calendar_today</mat-icon>
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40)>
        <mat-icon>stars</mat-icon>
      </button>

    </mat-toolbar-row>
</mat-toolbar>
