.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.image{
   max-height: 30px;
   max-width: 30px;
}

mat-toolbar {
   height: 27vm;
}

.highlighted{
  background-color: #F0E68C;
}

.unhighlighted{
  background-color: #FFFFFF;
}
