<mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-fab color=rgb(40,40,40) (click) ="goToFeed()">
        <img class="image" color="primary" src="assets/icons/SlackIcon.png">
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40) (click) ="goToConfeed()">
        <img class="image" color="primary" src="assets/icons/confluence.png">
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40) (click)="goToCalendar()">
        <mat-icon color="primary">calendar_today</mat-icon>
      </button>

      <span class="example-fill-remaining-space"></span>

      <button mat-fab color=rgb(40,40,40)>
        <mat-icon color="primary">stars</mat-icon>
      </button>

    </mat-toolbar-row>
</mat-toolbar>
