<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf = "!backendconnectorService.showOnlyWhenLogged()">
    <span class="example-fill-remaining-space"></span>
    <span>Gopher</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row  *ngIf = "backendconnectorService.showOnlyWhenLogged()">

    <span>Gopher</span>

    <span class="example-fill-remaining-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu  #menu="matMenu">
      <button mat-menu-item (click) = "goToLogin()">
        <mat-icon>account_circle</mat-icon>
        <span>Log out</span>
      </button>
      <button mat-menu-item (click) = "goToFilter()">
        <mat-icon>filter_list</mat-icon>
        <span>Filters</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
