<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="search">
        <mat-icon>search</mat-icon>
    </button>
    <mat-menu #search= "matMenu">
      <button mat-menu-item>
        <mat-icon>location_on</mat-icon>
        <span>location</span>
       </button>
    </mat-menu>

    <span class="example-fill-remaining-space"></span>  

    <span>GoFore</span>

    <span class="example-fill-remaining-space"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>log in</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notification_important</mat-icon>
        <span>notification</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
