<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf = "!backendconnectorService.showOnlyWhenLogged()">
    <span class="example-fill-remaining-space"></span>
    <span>G4</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row  *ngIf = "backendconnectorService.showOnlyWhenLogged()">
    <button mat-icon-button (click) = "goToFilter()">
      <mat-icon>search</mat-icon>
    </button>



    <span class="example-fill-remaining-space"></span>

    <span>G4</span>

    <span class="example-fill-remaining-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu  #menu="matMenu">
      <button mat-menu-item (click) = "goToLogin()">
        <mat-icon>account_circle</mat-icon>
        <span>Log out</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notification_important</mat-icon>
        <span>Notifications</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
