ul {
    list-style-type: none;
    padding: 0;
    width:auto;
  
}



div {
    text-align: center;
}


buttongroup {
   // width: auto;
    left: 2vw;
    right: 2vw;
}

mat-button-toggle {
    width: 10vw;
    font-size: 3vw;
}