<header>December</header>
<body>
<table style="width: 100%;">
    <tr>
        <td (click)="select('left')" style="width: auto;"><mat-icon>keyboard_arrow_left</mat-icon></td>
        <td (click)="select('10')" style="font-size:4vw;width: 11%;background-color: #ffff99;">Mon 10</td>
        <td (click)="select('11')" style="font-size:4vw;width: 11%;background-color: #ffff99;">Tue 11</td>
        <td (click)="select('12')" style="font-size:4vw;width: 11%;background-color: #ffff99;">Wed 12</td>
        <td (click)="select('13')" style="font-size:4vw;width: 11%;background-color: #ffff99;">Thur 13</td>
        <td (click)="select('14')" style="font-size:4vw;width: 11%;background-color: #ffff99;">Fri 14</td>
        <td (click)="select('15')" style="font-size:4vw;width: 11%;">Sat 15</td>
        <td (click)="select('16')" style="font-size:4vw;width: 11%;">Sun 16</td>
        <td (click)="select('right')" style="width: auto;"><mat-icon>keyboard_arrow_right</mat-icon></td>
    </tr>
</table>

</body>

<ul *ngFor="let event of events">
    <li *ngIf="event.day == selectedDay">
        <mat-card>
            <mat-card-content>
                <div style="font-size:3vw;">{{event.organizer}}</div>
                <div style="font-size:5vw;">{{event.title}}</div>
                <div style="font-size:3vw;">Date: {{event.day}}, {{event.month}} {{event.year}}</div>
                <div style="font-size:3vw;">Venue: {{event.venue}}</div>
            </mat-card-content>
        </mat-card>
    </li>
</ul>
